{{#if message}}
<p>{{message}}</p>
{{/if}}

<h1 class="header">Account Details</h1>

<div class="currentDetails">

    <div id="table">
        <table id="accountDetailsTable">
            <tr>
                <th class="accountDetailsTableHead">First name: </th>
                <td class="accountDetailsTable">{{user.fname}}</td>
            </tr>
            <tr>
                <th class="accountDetailsTableHead">Last name: </th>
                <td class="accountDetailsTable">{{user.lname}}</td>
            </tr>
            <tr>
                <th class="accountDetailsTableHead">Date of birth: </th>
                <td class="accountDetailsTable">{{user.dob}}</td>
            </tr>
            <tr>
                <th class="accountDetailsTableHead">Username: </th>
                <td class="accountDetailsTable">{{user.username}}</td>
            </tr>
            <tr>
                <th class="accountDetailsTableHead">Description: </th>
                <td class="accountDetailsTable">{{user.description}}</td>
            </tr>
            <tr>
                <th class="accountDetailsTableHead">Avatar: </th>
                <td class="accountDetailsTable"><img src="./avatars/{{user.imageSource}}"></td>
            </tr>
        </table>
    </div>

    <div id="accountDetailsButtons">

        <div id="accountDetailsEdit">
            <form action="./edit-account" method="GET">
                <input type="submit" value="Edit account">
            </form>
        </div>

        <div id="accountDetailsDelete">
            <form action="./deleteuser" method="POST">
                <input type="submit" name="deleteButton"
                    onclick="return confirm('Are you sure you want to delete your account?')" value="Delete account">
            </form>
        </div>

    </div>

</div>