<h1>Account Details</h1>

    <div class="currentDetails">
        <h2>Current Details</h2>

        <p>Account Name: {{user.username}}</p>

        <p>Fullname: {{user.fname}} {{user.lname}}</p>

        <p>Date of Birth: {{user.dob}}</p>

        <p>Description: {{user.description}}</p>

        <p>Profile Picture: {{user.imageSource}}</p>

        <form action="./edituser" method="GET">
            <div class="edit">
                <input type="submit" value="Edit Account">
            </div>
        </form>

        <div class="delete">
             <input type="button" onclick="alert('Delete Account function here!')" value="Delete Account">
        </div>
    </div>