{{#if message}}
<p>{{message}}</p>
{{/if}}

<h1 class="header">Account Details</h1>

<div class="currentDetails">

    <div id="table">
        <table id="accountDetailsTable">
            <tr>
                <th>First name: </th>
                <td>{{user.fname}}</td>
            </tr>
            <tr>
                <th>Last name: </th>
                <td>{{user.lname}}</td>
            </tr>
            <tr>
                <th>Date of birth: </th>
                <td>{{user.dob}}</td>
            </tr>
            <tr>
                <th>Username: </th>
                <td>{{user.username}}</td>
            </tr>
            <tr>
                <th>Description: </th>
                <td>{{user.description}}</td>
            </tr>
            <tr>
                <th>Avatar: </th>
                <td><img src="./avatars/{{user.imageSource}}"></td>
            </tr>
        </table>
    </div>

    <div id="buttons">
        <div id="edit">
            <form action="./edit-account" method="GET">
                <input type="submit" value="Edit account">
            </form>
        </div>

        <div id="delete">
            <form action="./deleteuser" method="POST">
                <input type="submit" name="deleteButton"
                    onclick="return confirm('Are you sure you want to delete your account?')" value="Delete account">
            </form>
        </div>
    </div>

</div>

<style>
    table,
    th,
    tr,
    td {

        font-size: large;
        border-radius: 5px;
        padding: 10px;
        table-layout: fixed;
        border-spacing: 20px;
        margin: auto;
    }

    th,
    td {
        background-color: #f5f5f5;
        padding: 10px;
    }

    td {
        width: 70%;
        text-align: center;
    }

    #buttons {
        display: flex;
        justify-content: center;
    }

    #delete,
    #edit {
        padding: 20px;
        color: teal;
    }
</style>