<script src="https://cdn.tiny.cloud/1/4zc1z98ilf3klitpp7ou6h01pbtqopz2i2r62lq5kp86weu2/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#editedArticleContent',
        menubar: false,
        plugins: 'autoresize lists paste emoticons wordcount',
        autoresize_bottom_margin: 50,
        toolbar: 'undo redo | styleselect | forecolor | bold italic underline | numlist bullist | emoticons | wordcount',
        paste_data_images: false,
        block_unsupported_drop: true
    });
</script>

<div id="newArticleContainer">

    <h1>Edit your article:</h1>
    <br>

    <form action="./edit-article" method="POST" enctype="multipart/form-data">

        <div>
            <label for="articleTitle">Add a title:</label>
            <input type="text" id="articleTitle" name="articleTitle" maxlength="100" size="40" value="{{article.title}}"
                required>
        </div>
        <br>
        <br>

        <div>
            {{#if article.imageSource}}
            Current image: <i name="imageSource">{{article.imageSource}}</i>
            <br>
            <br>

            <img src="./imagesResized/{{article.imageSource}}">
            <br>
            <br>

            <input type="checkbox" id="deleteImageButton" name="deleteImageButton">
            <label for="deleteImageButton">Delete current image</label>
            <br>
            <br>

            {{/if}}
            <br>
            <label for="articleImage">Upload a new image:</label>
            <input type="file" id="articleImage" name="articleImage" accept="image/*">
        </div>
        <br>
        <br>

        <textbox id="editedArticleContent" name="editedArticleContent">
            {{! WYSIWYG implemented here for paragraph input}}
            {{{article.content}}}
        </textbox>
        <textarea style="display: none" id="hiddenIDbox" name="hiddenIDbox" rows="0" cols="0">{{article.id}}</textarea>

        <br>
        <br>
        <button type="submit">Save changes</button>

    </form>
    <br>

    <form action="./delete-article" method="POST">
        <textarea style="display: none" id="hiddenIDbox" name="hiddenIDbox" rows="0" cols="0">{{article.id}}</textarea>
        <button type="submit" onclick="return confirm('Are you sure you want to delete this article?')">Delete
            article</button>
    </form>

</div>