<script type="text/javascript" src="/javascript/sortForMyArticle.js"></script>
<script type="text/javascript" src="/javascript/addLinksToArticleCards.js"></script>

<div id="myArticlesContainer">

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}

    <h1 class="header">My Articles</h1>
    <br>

    {{#if articles}}

    <div class="sortAndArticlesContainer">
        <div class="sortButtonContainer">
            <p class="sort">Sort by: </p>
            <button type="button" class="sortButtons" id="title" onclick="getSort(this.id)">Title</button>
            <button type="button" class="sortButtons" id="postTime" onclick="getSort(this.id)">Oldest</button>
            <button type="button" class="sortButtons" id="postTime DESC" onclick="getSort(this.id)">Newest</button>
        </div>
        {{!-- <br> --}}

        <div class="articleContainer">

            {{#each articles}}
                <div class="articleCard" id="{{this.id}}">
                    <div class="articleSummary">
                        <h3>{{this.title}}</h3>
                        <p>Posted by <strong>{{this.username}}</strong> on {{this.postTime}}</p>
                    </div>
                    <div class="authorAvatars">
                        <img src="/avatars/{{this.userImage}}">
                    </div>
                </div>
            {{/each}}

            {{else}}
            <h2 id="noArticles">You haven't written any articles!</h2>
        </div>
        {{/if}}
    </div>

</div>