<script type="text/javascript" src="sort.js"></script>

<div id="myArticlesContainer">

    <h1>My articles</h1>

    {{#if articles}} {{! should work the same as home view sort only if user is logged in returning users articles}}

        <p class="sort">Sort by: </p>
            <button type="button" class="sort" id="postTime" onclick="getSort(this.id)">Oldest</button>
            <button type="button" class="sort" id="postTime DESC" onclick="getSort(this.id)">Newest</button>
            <button type="button" class="sort" id="title" onclick="getSort(this.id)">Title</button>

        <div class="articleContainer">
            <table>
            {{#each articles}}
                <tr>
                    <td><a href="./read-article?articleID={{this.id}}">{{this.title}}</a></td>
                    <td>{{this.postTime}}</td>
                    <td><button type="button" class="editArticleButton" onclick="location.href='./edit-article?articleID={{this.id}}'">Edit article</button></td>
                </tr>
            {{/each}}
            </table>
        
        {{else}}
        <h2>You haven't written any articles!</h2>
        {{/if}}
        </div>


</div>


