<script type="text/javascript" src="sortForMyArticle.js"></script>
<script type="text/javascript" src="addLinksToArticleCards.js"></script>

<div id="myArticlesContainer">

    {{#if message}}
    <p>{{message}}</p>
    {{/if}}

    <h1>My Articles</h1>

    {{#if articles}}

    <div class="sortAndArticlesContainer">
        <div class="sortButtonContainer">
            <p class="sort">Sort by: </p>
            <button type="button" class="sortButtons" id="title" onclick="getSort(this.id)">Title</button>
            <button type="button" class="sortButtons" id="postTime" onclick="getSort(this.id)">Oldest</button>
            <button type="button" class="sortButtons" id="postTime DESC" onclick="getSort(this.id)">Newest</button>
        </div>
        {{!-- <br> --}}

        <div class="articleContainer">

            {{#each articles}}
                <div class="articleCard" id="{{this.id}}">
                    <h3>{{this.title}}</h3>
                    <p>Posted by <strong>{{this.username}}</strong> on {{this.postTime}}</p>
                </div>
            {{/each}}

            {{else}}
            <h2>You haven't written any articles!</h2>
        </div>
        {{/if}}
    </div>

</div>