<div id="readArticleContainer">

    <div id="articleView">
        {{!./articles/{{this.id}}
        {{! pass from getNewArticleContent}}
        {{#if articles}}
        <h1>{{this.title}}</h1>
        <img src="{{this.imageSource}}">
        {{this.content}}
        {{/if}}
    </div>
    <br>

    <form action="read-article" method="GET">
        {{! if logged in}}
            <label for="commentInput">Comments:</label>
            <br>
            <textarea id="commentInput" name="commentInput" rows="4" cols="50" maxlength="300">Add a comment!</textarea>
    </form>
    

    <div id="commentBox">

        <p>Comments will be displayed here!</p>

        {{!#if comments}
        {#each comments}
        <div id="commentDisplay">
            {{this.content}
        </div>
            {{#if comments have child}
            <div class="reply">
                {{reply}
            </div>

            {{#else}
            There are no comments yet!
            {{/if}}
    </div>

</div>