<div id="readArticleContainer">

  <div id="articleView">

    <br>

    <h1>{{article.title}}</h1>

    {{#if author}}
    <button type="button" class="editArticleButton"
      onclick="location.href='./edit-article?articleID={{article.id}}'">Edit article</button>
    {{/if}}

    <p><i>Submitted by: {{article.username}}</i></p>
    {{#if article.imageSource}}
    <img src="./imagesResized/{{article.imageSource}}" id="articleImage">
    {{/if}}
    <br>
    <br>
    <br>
    {{{article.content}}}

  </div>

  <br>

  <div id="commentContainer">
    <input type="hidden" id="votedComments" value={{votedComments}}>
    <br>
    {{#if comments}}
    <button onclick="ShowHideComments()">Show / hide comments</button>
    <div id="commentBox">

      <div id="level1Comments">
        <h2>Comments: </h2>
        {{#each comments}}
        <div class="eachComment">
          <img src="/avatars-thumbnail/{{this.imageSource}}" id="avatar">
          {{this.username}} posted on {{this.postTime}}:<br>{{this.content}}<br>
        </div>
        <form action="./giveupvote" method="POST">
          <input type="hidden" id="comment" name="comment" value="{{this.id}}">
          <input type="hidden" id="userid" name="userid" value="{{../user.id}}">
          <input type="hidden" id="articleid" name="articleid" value="{{../article.id}}">
          <input type="submit" id="upvote{{this.id}}" value="Upvotes {{this.upvotes}}">
        </form>
        <form action="./givedownvote" method="POST">
          <input type="hidden" id="comment" name="comment" value="{{this.id}}">
          <input type="hidden" id="userid" name="userid" value="{{../user.id}}">
          <input type="hidden" id="articleid" name="articleid" value="{{../article.id}}">
          <input type="submit" id="downvote{{this.id}}" value="Downvotes {{this.downvotes}}">
        </form>


        {{#if this.children}}
        <button onclick="ShowNestedComments({{this.id}})">Show/Hide replies</button>
        <div id="level2Comments{{this.id}}" style="display: none">
          {{#each this.children}}
          <div class="eachComment">
            <img src="/avatars-thumbnail/{{this.imageSource}}" id="avatar">
            {{this.username}} posted on {{this.postTime}}:<br> {{this.content}}<br>
          </div>
          <form action="./giveupvote" method="POST">
            <input type="hidden" id="comment" name="comment" value="{{this.id}}">
            <input type="hidden" id="userid" name="userid" value="{{../../user.id}}">
            <input type="hidden" id="articleid" name="articleid" value="{{../../article.id}}">
            <input type="submit" id="upvote{{this.id}}" value="Upvotes {{this.upvotes}}">
          </form>
          <form action="./givedownvote" method="POST">
            <input type="hidden" id="comment" name="comment" value="{{this.id}}">
            <input type="hidden" id="userid" name="userid" value="{{../../user.id}}">
            <input type="hidden" id="articleid" name="articleid" value="{{../../article.id}}">
            <input type="submit" id="downvote{{this.id}}" value="Downvotes {{this.downvotes}}">
          </form>
          {{#if this.children}}
          <button onclick="ShowNestedNestedComments({{this.id}})">Show/Hide replies</button>
          <div id="level3Comments{{this.id}}" style="display: none">
            {{#each this.children}}
            <div class="eachComment">
              <img src="/avatars-thumbnail/{{this.imageSource}}" id="avatar">
              {{this.username}} posted on {{this.postTime}}:<br> {{this.content}}<br>
            </div>
            <form action="./giveupvote" method="POST">
              <input type="hidden" id="comment" name="comment" value="{{this.id}}">
              <input type="hidden" id="userid" name="userid" value="{{../../../user.id}}">
              <input type="hidden" id="articleid" name="articleid" value="{{../../../article.id}}">
              <input type="submit" id="upvote{{this.id}}" value="Upvotes {{this.upvotes}}">
            </form>
            <form action="./givedownvote" method="POST">
              <input type="hidden" id="comment" name="comment" value="{{this.id}}">
              <input type="hidden" id="userid" name="userid" value="{{../../../user.id}}">
              <input type="hidden" id="articleid" name="articleid" value="{{../../../article.id}}">
              <input type="submit" id="downvote{{this.id}}" value="Downvotes {{this.downvotes}}">
            </form>
            {{/each}}
          </div>

          <button onclick="level3CommentsBox({{this.id}})">Reply</button>
          <div id="replyToCommentsComment{{this.id}}" style="display: none">
            <form action="./replyToCommentsComment" method="POST">

              <br>
              <textarea id="replyToCommentsCommentInput" name="replyToCommentsCommentInput" rows="4" cols="50"
                maxlength="300" placeholder="Reply to a comment!"></textarea>
              <textarea style="display: none" id="articleID" name="articleID" row="0"
                cols="0">{{this.articleID}}</textarea>
              <textarea style="display: none" id="parentID" name="parentID" row="0" cols="0">{{this.id}}</textarea>
              <input type="submit" value="Submit your comment!">
            </form>
          </div>
          {{/if}}

          {{/each}}
        </div>
        {{/if}}

        <button onclick="level2CommentsBox({{this.id}})">Reply</button>
        <div id="replyToComment{{this.id}}" style="display: none">
          <form action="./replyToComment" method="POST">

            <br>
            <textarea id="replyToCommentInput" name="replyToCommentInput" rows="4" cols="50" maxlength="300"
              placeholder="Reply to a comment!"></textarea>
            <textarea style="display: none" id="articleID" name="articleID" row="0"
              cols="0">{{this.articleID}}</textarea>
            <textarea style="display: none" id="parentID" name="parentID" row="0" cols="0">{{this.id}}</textarea>
            <input type="submit" value="Submit your comment!">
          </form>
        </div>


        {{/each}}
        {{/if}}
        {{#if user}}
        <form action="./createComment" method="POST">

          <label for="commentInput">Add a comment!</label>
          <br>
          <textarea id="commentInput" name="commentInput" rows="4" cols="50" maxlength="300"
            placeholder="Your comment here"></textarea>
          <textarea style="display: none" id="articleID" name="articleID" row="0" cols="0">{{article.id}}</textarea>
          <input type="submit" value="Submit your comment!">
        </form>
        {{/if}}

      </div>
    </div>
    <br>
  </div>
</div>

<script>
  function ShowHideComments() {
    var x = document.getElementById("commentBox");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function level2CommentsBox(id) {
    var x = document.getElementById(`replyToComment${id}`);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function level3CommentsBox(id) {
    var x = document.getElementById(`replyToCommentsComment${id}`);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function ShowNestedComments(id) {
    var x = document.getElementById(`level2Comments${id}`);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function ShowNestedNestedComments(id) {
    var x = document.getElementById(`level3Comments${id}`);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

  function disableIfVoted(disableVotes) {
    for (let i = 0; i < disableVotes.length; i++) {
      var disableCommentId = disableVotes[i];
      var convertedID = parseInt(disableCommentId);
      if (Number.isInteger(convertedID)) {
        document.getElementById(`upvote${convertedID}`).disabled = true;
        document.getElementById(`downvote${convertedID}`).disabled = true;
      }
    }
  }

  var disableVotes = document.getElementById("votedComments").value;
  var splitDisableVotes = disableVotes.split(',');
  window.onload = disableIfVoted(splitDisableVotes);

</script>