<div id="readArticleContainer">

    <div id="articleView">
        
        {{!-- {{#if article.userID == user.id}} --}}
            {{!-- <button type="button" class="editArticleButton" onclick="location.href='./edit-article?articleID={{article.id}}'">Edit article</button> --}}
        {{!-- {{/if}} --}}

        <h1>{{article.title}}</h1>
        <p><i>Submitted by: {{article.username}}</i></p>
        {{#if article.imageSource}}
        <img src="./imagesResized/{{article.imageSource}}">
        {{/if}}
        {{{article.content}}}
        
    </div>
    <br>
    <button onclick="ShowHideComments()">Click to show / hide comments</button>
    <div id="commentBox">

        <h2>Comments: </h2>

        {{#if comments}}
        <table>
        <tr>
        <td>Author</td>
        <td>Comment</td>
        </tr>
            {{#each comments}}
        {{!-- <div id="level1Comment"> --}}
          <tr>
                <td>{{this.username}}</td>
                <td>{{this.content}}<br>
                {{#if this.children}}
                <button onclick="ShowNestedComments({{this.id}})">Show replies</button>
                  <div id="nestedComments{{this.id}}" style="display: none">
                    {{#each this.children}}
                    {{#each this}}
                    {{@key}}: {{this.content}}
                    {{/each}}
                    {{/each}}
                  </div>
                  {{/if}}
                </td>
                <td><button onclick="nestedCommentsBox({{this.id}})">Reply</button>
                <div id="replyToComment{{this.id}}" style="display: none">
                    <form action="./replyToComment" method="POST">
                    <label for="replyToCommentInput">Your Comments:</label>
                    <br>
                    <textarea id="replyToCommentInput" name="replyToCommentInput" rows="4" cols="50" maxlength="300" placeholder="Reply to a comment!"></textarea>
                    <textarea style="display: none" id="articleID" name="articleID" row="0" cols="0">{{this.articleID}}</textarea>  
                    <textarea style="display: none" id="parentID" name="parentID" row="0" cols="0">{{this.id}}</textarea>
                    <input type="submit" value="Submit your comment!">
                    </form>
                </div>
                </td>
          </tr>
        {{!-- </div> --}}
            {{/each}}
            {{!-- {{#if comments have child}
            <div class="reply">
                {{reply}
            </div> --}}
        {{!-- {{else}}
            <p>There are no comments yet!</p> --}}
        {{/if}}
    </table>
    </div>
    <form action="./createComment" method="POST">
        {{! if logged in}}
            <label for="commentInput">Your Comments:</label>
            <br>
            <textarea id="commentInput" name="commentInput" rows="4" cols="50" maxlength="300" placeholder="Add a comment!"></textarea>
            <textarea style="display: none" id="articleID" name="articleID" row="0" cols="0">{{article.id}}</textarea>
            <input type="submit" value="Submit your comment!">
    </form>
    


</div>

<script>
function ShowHideComments() {
var x = document.getElementById("commentBox");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function nestedCommentsBox(id) {
var x = document.getElementById(`replyToComment${id}`);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function ShowNestedComments(id) {
var x = document.getElementById(`nestedComments${id}`);
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>